/* Основні стилі для навігаційного меню */
.nav {
  display: flex; /* Розміщує дочірні елементи в рядок */
  align-items: center; /* Вирівнює елементи по вертикалі */
  justify-content: space-between; /* Розподіляє простір між елементами */
  padding: 10px; /* Додає відступи навколо навігаційного меню */
  position: relative; /* Встановлює відносне позиціонування для дочірніх елементів */
  z-index: 10; /* Забезпечує видимість поверх інших елементів */
}

/* Стилі для логотипу */
.nav__logo-container {
  max-width: 100px;
  display: flex; /* Розміщує логотип по горизонталі */
  align-items: center; /* Вирівнює логотип по вертикалі */
}

/* Стилі для контейнера посилань */
.nav__links-container {
  display: flex; /* Розміщує посилання по горизонталі */
}

/* Список посилань */
.nav__list {
  display: flex; /* Розміщує елементи списку по горизонталі */
  list-style: none; /* Видаляє маркери списку */
  margin: 25px; /* Видаляє відступи */
  padding: 0; /* Видаляє внутрішні відступи */
}

.nav__item {
  margin: 0 12px; /* Додає відступи між елементами списку */
}

.nav-link__coaches {
  font-weight: 1;
  font-size: 14px;
  text-decoration: none; /* Видаляє підкреслення */
  background-color: #d9d9d9;
  padding: 7px 23px;
  border-radius: 35px;
  color: #030403; /* Встановлює колір тексту (можете змінити за потреби) */
}

.nav__link {
  font-weight: 1;
  font-size: 14px;
  text-decoration: none; /* Видаляє підкреслення */
  color: #030403; /* Встановлює колір тексту (можете змінити за потреби) */
  background-color: #d9d9d9;
  padding: 7px 35px;
  border-radius: 30px;
}

/* Стилі для бургер-меню */
.nav__burger-container {
  display: flex; /* Розміщує бургер-меню по горизонталі */
  align-items: center; /* Вирівнює бургер-меню по вертикалі */
  position: relative; /* Встановлює відносне позиціонування для дочірніх елементів */
  cursor: pointer; /* Змінює вигляд курсора при наведенні */
}

.nav__burger {
  display: flex; /* Розміщує смужки бургер-меню по горизонталі */
  flex-direction: column; /* Розміщує смужки по вертикалі */
}

.nav__burger-bar {
  width: 32px; /* Ширина смужок бургер-меню */
  height: 10px; /* Висота смужок бургер-меню */
  background-color: #d9d9d9; /* Колір смужок бургер-меню (можете змінити за потреби) */
  margin: 6px 0; /* Відступи між смужками */
  border-radius: 35px;
}

/* Список меню */
.nav__menu {
  display: none; /* Сховати меню за замовчуванням */
  position: fixed; /* Встановлює меню поверх всіх інших елементів */
  top: 0; /* Вирівнює меню по верху вікна */
  left: 0; /* Вирівнює меню по лівому краю */
  width: 100%; /* Встановлює ширину меню */
  height: 100%; /* Встановлює висоту меню */
  background-color: rgba(255, 255, 255, 0.95); /* Фоновий колір з прозорістю */
  list-style: none; /* Видаляє маркери списку */
  margin: 0; /* Видаляє відступи */
  padding: 20px; /* Внутрішні відступи */
  z-index: 100; /* Встановлює високий z-index для видимості поверх інших елементів */
  opacity: 0; /* Сховати меню з використанням прозорості */
  transition: opacity 0.3s ease; /* Додаємо перехід */
}

.nav__menu.show {
  display: block;
  opacity: 1; /* Зробити меню видимим */
}

.nav__menu-item {
  margin: 20px 0; /* Відступи між елементами меню */
}

.nav__menu-link {
  display: block; /* Робить посилання блочним елементом для зручнішого натискання */
  padding: 10px 15px; /* Додає відступи навколо посилань */
  text-decoration: none; /* Видаляє підкреслення */
  color: #030403; /* Встановлює колір тексту (можете змінити за потреби) */
  font-size: 1.5rem; /* Збільшує розмір шрифту */
}
