.advantages {
  color: #d9d9d9;
  padding: 20px;
  background: linear-gradient(
    90deg,
    #030403 30%,
    #201c10 80%,
    #051203 90%
  ) !important;
}

.advantages__title {
  text-align: center;
}

.advantages__description {
  width: 100%;
  max-width: 600px;
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: left;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.advantages__item {
  background: #253225;
  padding: 10px 15px;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
}

.advantages__header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.advantages__image {
  max-width: 90px;
  height: auto;
  display: block;
}

.advantages__item-title {
  font-size: 1.2em;
  margin: 0;
}

.advantages__item-description {
  font-size: 0.9em;
  line-height: 1.4;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .advantages__list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.faq__accordion {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.faq__accordion-button {
  font-family: "Julius Sans One", sans-serif;
  background-color: #d9d9d9;
  color: #030403;
  cursor: pointer;
  padding: 15px;
  text-align: left;
  border: none;
  outline: none;
  width: calc(50% - 10px);
  transition: background-color 0.4s ease;
  border-radius: 10px;
}

.faq__accordion-button:hover {
  background-color: #253225;
}

.faq__accordion-content {
  background-color: #253225;
  display: none;
  padding: 15px;
  border: 1px solid #253225;
  border-top: none;
  border-radius: 0 0 10px 10px;
  width: calc(100% - 20px);
  margin-top: -10px;
}

.faq {
  color: #030403;
  padding: 50px;
  /* margin-bottom: 100px; */
  background: linear-gradient(90deg, #253225 5%, #0c100c 28%, #030403 90%);
}

.faq__title {
  text-align: center;
  padding-bottom: 50px;
  color: #d9d9d9;
}
