.header__image-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  /* float: right; */
  margin-top: 100px;
  /* margin-left: 500px; */
  margin-bottom: 200px;
  /* margin-right: 80px; */
  text-align: right;
}

.header__image {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 600px) {
  .header__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 20px;
    padding: 20px;
    padding-bottom: 0px;
  }
}

.header__intro {
  color: #d9d9d9;
  padding-top: 95px;
  font-size: 20px;
  font-weight: 1;
}

.header__description {
  padding-right: 250px;
}

.header__title {
  margin-bottom: 25px;
}
