.main {
  color: #d9d9d9;
}

.main__title {
  margin-top: 75px;
  margin-bottom: 75px;
  text-align: center;
}

.main__subscriptions-title {
  margin-top: 75px;
  margin-bottom: 75px;
  text-align: center;
}

.main__subscriptions-adult {
  text-align: center;
}

.main__subscriptions-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.main__subscription {
  background-color: #253225;
  border-radius: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  flex: 1 1 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  text-align: center;
  border: 1px solid #030403;
}

.main__subscription-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.main__subscription-price {
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.main__subscription-description {
  margin-bottom: 15px;
  text-align: center;
}

.main__subscription-benefits {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 20px;
}

.main__benefit {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9em;
}

.main__benefit-icon {
  width: 16px;
  height: 16px;
}

.main__benefit-text {
  font-size: 0.9em;
}

.main__subscription-link {
  display: inline-block;
  padding: 18px 50px;
  background-color: #d9d9d9;
  color: #030403;
  border-radius: 35px;
  text-align: center;
  text-decoration: none;
  align-self: center;
  margin-top: auto;
}

.main__subscription-link:hover {
  background-color: #131913;
}
