<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gym</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="images/icone/icone-web.png"
      sizes="16x16"
    />
    <link rel="stylesheet" href="styles.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <nav
        class="header__nav"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
      <div class="header__image">
        <img src="images/photo/dumbbell-window.png" alt="Dumbbell-Window" />
      </div>
    </header>
    <main class="main">
      <div class="main__title">
        <h1 class="main__heading">CLUBS OF OUR NETWORK</h1>
      </div>
      <div class="main__clubs">
        <div class="club">
          <p class="club__name">ENERGY ZONE</p>
          <img
            class="club__image"
            src="images/photo/energy-zone.png"
            alt="Energy Zone"
          />
          <div class="club__details">
            <img class="club__logo" src="images/icone/logo.png" alt="Logo" />
            <p class="club__hours">
              Mon - Fri: 6:00 AM - 10:00 PM Sat: 8:00 AM - 8:00 PM
            </p>
          </div>
        </div>
        <div class="club">
          <p class="club__name">ZEN GYM</p>
          <img
            class="club__image"
            src="images/photo/zen-gym.png"
            alt="Zen Gym"
          />
          <div class="club__details">
            <img class="club__logo" src="images/icone/logo.png" alt="Logo" />
            <p class="club__hours">
              Mon - Fri: 6:00 AM - 10:00 PM Sat: 8:00 AM - 8:00 PM
            </p>
          </div>
        </div>
        <div class="club">
          <p class="club__name">POWER HOUSE</p>
          <img
            class="club__image"
            src="images/photo/power-house.png"
            alt="Power House"
          />
          <div class="club__details">
            <img class="club__logo" src="images/icone/logo.png" alt="Logo" />
            <p class="club__hours">
              Mon - Fri: 6:00 AM - 10:00 PM Sat: 8:00 AM - 8:00 PM
            </p>
          </div>
        </div>
        <div class="club">
          <p class="club__name">FITSPHERE</p>
          <img
            class="club__image"
            src="images/photo/fitsphere.png"
            alt="FitSphere"
          />
          <div class="club__details">
            <img class="club__logo" src="images/icone/logo.png" alt="Logo" />
            <p class="club__hours">
              Mon - Fri: 6:00 AM - 10:00 PM Sat: 8:00 AM - 8:00 PM
            </p>
          </div>
        </div>
        <div class="club">
          <p class="club__name">FLEXFIT</p>
          <img
            class="club__image"
            src="images/photo/flexfit.png"
            alt="FlexFit"
          />
          <div class="club__details">
            <img class="club__logo" src="images/icone/logo.png" alt="Logo" />
            <p class="club__hours">
              Mon - Fri: 6:00 AM - 10:00 PM Sat: 8:00 AM - 8:00 PM
            </p>
          </div>
        </div>
        <div class="club">
          <p class="club__name">PULSEFIT</p>
          <img
            class="club__image"
            src="images/photo/pulsefit.png"
            alt="PulseFit"
          />
          <div class="club__details">
            <img class="club__logo" src="images/icone/logo.png" alt="Logo" />
            <p class="club__hours">
              Mon - Fri: 6:00 AM - 10:00 PM Sat: 8:00 AM - 8:00 PM
            </p>
          </div>
        </div>
        <div class="club">
          <p class="club__name">WELLNESS HUB</p>
          <img
            class="club__image"
            src="images/photo/wellness-hub.jpg"
            alt="Wellness Hub"
          />
          <div class="club__details">
            <img class="club__logo" src="images/icone/logo.png" alt="Logo" />
            <p class="club__hours">
              Mon - Fri: 6:00 AM - 10:00 PM Sat: 8:00 AM - 8:00 PM
            </p>
          </div>
        </div>
        <div class="club">
          <p class="club__name">VITALITY CLUB</p>
          <img
            class="club__image"
            src="images/photo/vitality-club.png"
            alt="Vitality Club"
          />
          <div class="club__details">
            <img class="club__logo" src="images/icone/logo.png" alt="Logo" />
            <p class="club__hours">
              Mon - Fri: 6:00 AM - 10:00 PM Sat: 8:00 AM - 8:00 PM
            </p>
          </div>
        </div>
        <div class="club">
          <p class="club__name">ACTIVECORE</p>
          <img
            class="club__image"
            src="images/photo/active-core.jpg"
            alt="ActiveCore"
          />
          <div class="club__details">
            <img class="club__logo" src="images/icone/logo.png" alt="Logo" />
            <p class="club__hours">
              Mon - Fri: 6:00 AM - 10:00 PM Sat: 8:00 AM - 8:00 PM
            </p>
          </div>
        </div>
        <div class="club">
          <p class="club__name">ELITEFIT</p>
          <img
            class="club__image"
            src="images/photo/elite-fit.jpg"
            alt="EliteFit"
          />
          <div class="club__details">
            <img class="club__logo" src="images/icone/logo.png" alt="Logo" />
            <p class="club__hours">
              Mon - Fri: 6:00 AM - 10:00 PM Sat: 8:00 AM - 8:00 PM
            </p>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <nav
        class="footer__nav"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer.partial.html"
      ></nav>
    </footer>
  </body>
</html>
