<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gym</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="images/icone/icone-web.png"
      sizes="16x16"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <nav
        class="header__nav"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
      <div class="header__content">
        <div class="header__intro">
          <h1 class="header__title">
            GYM: YOUR KEY TO A HEALTHY AND ACTIVE LIFE
          </h1>
          <p class="header__description">
            Enhance your physical fitness and well-being with GYM! The latest
            equipment, professional trainers, and a wide range of group classes
            await you at our convenient locations. Choose GYM and achieve your
            fitness goals easily and effectively!
          </p>
        </div>
        <div class="header__image-container">
          <img
            src="images/photo/dumbbell-window.png"
            alt="Dumbbell-Window"
            class="header__image"
          />
        </div>
      </div>
    </header>
    <main class="main">
      <section class="advantages">
        <h2 class="advantages__title">OUR ADVANTAGES</h2>
        <p class="advantages__description">
          Our gym is the perfect place to reach your fitness goals. We offer
          modern equipment, professional trainers, creating an atmosphere where
          there is no place for condemnation and hate, where a beginner and an
          experienced athlete do not interfere, but help each other.
        </p>
        <div class="advantages__list">
          <div class="advantages__item">
            <div class="advantages__header">
              <img
                src="images/photo/dumbbell-pvdpis.png"
                alt="dumbbell-pvdpis"
                class="advantages__image"
              />
              <h4 class="advantages__item-title">Modern equipment</h4>
            </div>
            <p class="advantages__item-description">
              Our gym is equipped with the latest simulators and sports
              complexes from the world's leading manufacturers. You will be able
              to use modern treadmills, exercise bikes, strength machines and
              other equipment that will help you achieve your sports goals
              faster and more efficiently.
            </p>
          </div>
          <div class="advantages__item">
            <div class="advantages__header">
              <img
                src="images/photo/discover.png"
                alt="discover"
                class="advantages__image"
              />
              <h4 class="advantages__item-title">
                Convenient location and work schedule
              </h4>
            </div>
            <p class="advantages__item-description">
              Our gym is in a convenient location, which allows you to easily
              reach it from any part of the city. We work from morning to late
              evening, so you can choose the most convenient time for training.
            </p>
          </div>
          <div class="advantages__item">
            <div class="advantages__header">
              <img
                src="images/photo/body-in-progrss.png"
                alt="body-in-progrss"
                class="advantages__image"
              />
              <h4 class="advantages__item-title">Professional trainers</h4>
            </div>
            <p class="advantages__item-description">
              We have a team of certified trainers with many years of
              experience. They will develop an individual training program for
              you, taking into account your personal goals, physical condition
              and level of training. Our trainers will support you at every
              stage of your journey to a healthy and active life.
            </p>
          </div>
          <div class="advantages__item">
            <div class="advantages__header">
              <img
                src="images/photo/gym-hub.png"
                alt="gym-hub"
                class="advantages__image"
              />
              <h4 class="advantages__item-title">Innovative services</h4>
            </div>
            <p class="advantages__item-description">
              We offer a range of additional services such as personal fitness
              tracking, nutritional advice and massage sessions. Our innovative
              solutions will help you achieve maximum results and improve your
              well-being.
            </p>
          </div>
        </div>
      </section>
      <section class="faq">
        <h2 class="faq__title">FREQUENTLY ASKED QUESTIONS</h2>
        <div class="faq__accordion">
          <button class="faq__accordion-button">
            What is the gym schedule?
          </button>
          <div class="faq__accordion-content">
            <p>
              Our gym is open Monday through Friday from 6:00 a.m. to 10:00
              p.m., and on Saturday and Sunday from 8:00 a.m. to 8:00 p.m.
            </p>
          </div>

          <button class="faq__accordion-button">
            Is it possible to freeze the subscription in case of absence?
          </button>
          <div class="faq__accordion-content">
            <p>
              Yes, you can freeze your subscription in case of vacation or
              illness. Details on freezing subscriptions can be obtained from
              the gym administration.
            </p>
          </div>

          <button class="faq__accordion-button">
            Is it possible to get a trial lesson?
          </button>
          <div class="faq__accordion-content">
            <p>
              Yes, we offer a free trial class for new customers. This will
              allow you to familiarize yourself with our hall and services
              before issuing a subscription.
            </p>
          </div>

          <button class="faq__accordion-button">
            Are there personal trainers at the gym?
          </button>
          <div class="faq__accordion-content">
            <p>
              Yes, we have certified personal trainers who will help you develop
              an individual training program and achieve your goals.
            </p>
          </div>

          <button class="faq__accordion-button">
            What types of group classes do you offer?
          </button>
          <div class="faq__accordion-content">
            <p>
              We offer a variety of group classes including yoga, pilates,
              aerobics, zumba, strength training and more.
            </p>
          </div>

          <button class="faq__accordion-button">
            Are there discounts for students or senior citizens?
          </button>
          <div class="faq__accordion-content">
            <p>
              Yes, we offer special discounts for students and pensioners.
              Please contact the administration for more information.
            </p>
          </div>

          <button class="faq__accordion-button">
            What payment methods do you accept?
          </button>
          <div class="faq__accordion-content">
            <p>We accept payment in cash, bank cards, and online banking.</p>
          </div>

          <button class="faq__accordion-button">
            Do you have nutritionist services?
          </button>
          <div class="faq__accordion-content">
            <p>
              Yes, we offer consultations with a nutritionist to help you create
              an individualized nutrition plan to achieve your fitness goals.
            </p>
          </div>

          <button class="faq__accordion-button">
            Is it possible to rent a locker for personal belongings?
          </button>
          <div class="faq__accordion-content">
            <p>
              Yes, you can rent a personal locker during training. We also have
              options for long-term locker rental. Yes, you can rent a personal
              locker for the duration of training. We also have options for
              long-term rental of lockers.
            </p>
          </div>

          <button class="faq__accordion-button">
            Is there parking near the gym?
          </button>
          <div class="faq__accordion-content">
            <p>
              We also accept payment in Chas, Bank Tarx, and online banking.
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <nav
        class="footer__nav"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer.partial.html"
      ></nav>
    </footer>
    <script src="js/index.js"></script>
  </body>
</html>
